<% provide(:title, 'Reset password') %>
<h1 class="text-3xl font-bold text-center mb-6">Reset password</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(model: @user, url: password_reset_path(params[:id]), class: 'w-full') do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @user.email %>

      <div class="mb-4">
        <%= f.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.password_field :password,
                             class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, 'Confirmation', class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.password_field :password_confirmation,
                             class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>

      <%= f.submit 'Update password',
                   class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    <% end %>
  </div>
</div>
