<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <%= form_with(model: @user) do  |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name %>
            <%= f.text_field :name,
                             class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>

            <%= f.label :email %>
            <%= f.email_field :email,
                              class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>

            <%= f.label :password %>
            <%= f.password_field :password,
                                 class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>

            <%= f.label :password_confirmation, 'Confirmation' %>
            <%= f.password_field :password_confirmation,
                                 class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>

            <%= f.submit 'Create my account',
                         class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
        <% end %>
    </div>
</div>
