<%= form_with(model: @micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: 'Compose new micropost...' %>
  </div>
  <div class="field mb-3">
    <%= f.select :area, [['選択してください', ''], '新宿区', '渋谷区', '中央区', '港区', '文京区', '台東区', '墨田区', '江東区', '品川区', '目黒区', '大田区', '世田谷区', '中野区', '杉並区', '豊島区', '北区', '荒川区', '板橋区', '練馬区', '足立区', '葛飾区', '江戸川区', '千代田区'], {}, class: 'form-control' %>
  </div>
  <%= f.submit 'Post', class: 'btn btn-primary' %>
  <span class="image">
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>
